/* debug */

/* debug */


/* header */
.logo_sony{height: 30px;}

nav{height: 70px; margin-top: 30px;}
/* fine header */


/* section buy-now_banner */
.buynow_banner{
    margin-top: 100px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

.buynow_banner .row{
    padding-top: 20%;
}
/* fine section buy-now_banner */


/* game_banner */
.game_banner img{border-radius: 20px;}
/* fine game_banner */

/* section ps5_overview */
._device img{height:100px;}
/* fine section ps5_overview */