/* header */
.logo_sony{height: 30px;}
nav{height: 70px; margin-top: 30px;}
/* fine header */

/* section buy-now_banner */
.buynow_banner{
    margin-top: 100px;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}
.buynow_banner .row{
    padding-top: 20%;
}
/* fine section buy-now_banner */

/* game_banner */
.game_banner img{border-radius: 20px;}
/* fine game_banner */

/* section ps5_overview */
._device img{height:100px;}
/* fine section ps5_overview */

/* section buy-now_banner 2 */
.buynow_banner_2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}
/* fine section buy-now_banner 2 */

/* section new_releases */
.new_releases{background-color: #1F1F1F;}
.new_releases img{border-radius: 30px;}
/* fine section new_releases */

/* section play station plus */
.play_station_plus{background-color: #BEBCBB;}

.play_station_plus .btn{background-color: #d9dadc; border:unset;}
/* fine section play station plus */

/* section play station now */
.play_station_now{background-color: #161c3b;}

.play_station_now .btn{background-color: white; border:unset;}
/* fine section play station now */